<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="login-form">
    <div th:if="${param.success}">
        <script>
            alert("You are successfull registered to our awsome app!");
        </script>
    </div>
    <h2>Cập nhật mật khẩu</h2>
    <form class="loginForm" th:action="@{/forget-password}" method="post" >

        <div>
            <label class="email">Email:</label>
            <input type="email" class="email login-input" name="email" required
                   autofocus="autofocus" />
        </div>
        <div th:if="${param.emailwrong}">
            <div class="alert alert-info"> Your email is not correct</div>
        </div>

        <div>
            <label class="username">Mật khẩu:</label>
            <input type="password" class="username login-input" name="password"   required/>
        </div>
        <div>
            <label class="password">Nhập lại mật khẩu:</label>
            <input type="password" class="password login-input" name="confirm_password"  required/>
        </div>
        <button type="submit" class="login-button">Cập nhật</button>

        <span>Already registered ? <a href="/" th:href="@{/login}">Login here</a></span>
    </form>
</div>

</body>

</html>
