<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <!--    <link  href="{https://fonts.googleapis.com/css2?family=Forum&display=swap}" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/css/stylesAdmin.css}" type="text/css">
    <script th:src="@{/script.js}" type="module"></script>
    <title>Category</title>
</head>
<body>
<!--<canvas class="orb-canvas"></canvas>-->
<div th:if="${userdto.getRole() != 'ROLE_ADMIN'}">
    <h1>Bạn không có quyền truy cập vào Admin</h1>
</div>
<main class="center__content" th:unless="${userdto.getRole() != 'ROLE_ADMIN'}">
    <div class="main__header">
        <h1> New Category</h1>
        <form class="overlay" th:action="@{new-category}" method="post" th:object="${categorydto}" enctype="multipart/form-data">
            <h1>Send a new Category</h1>
            <div class ="group" >
                <input type="text" class="input" th:field="*{categoryName}" required >
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Category name</label>
            </div>
            <textarea placeholder="Type your content" id="content" cols="30" rows="10" th:field="*{categoryDescribe}" required></textarea>
            <div class="overlay__submit-button">




                <button type="submit" class="btn-3">
                    <div class="svg-wrapper">
                        <div class="with-send-icon">
                            <img th:src="@{/fonts/themify-icons/SVG/icon-send.svg}" alt="ac.">
                        </div>
                    </div>
                    <span>Send</span>
                </button>
            </div>
        </form>
    </div>
</main>
<script type="module" src="script.js"> </script>
</body>
</html>