<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
<!--    <link  href="{https://fonts.googleapis.com/css2?family=Forum&display=swap}" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/css/stylesAdmin.css}" type="text/css">
    <script th:src="@{/script.js}" type="module"></script>
    <title>Post</title>
</head>
<body>
<canvas class="orb-canvas"></canvas>
<header>
    <div class="nav-bar">
        <div class="title">
            <h1>Post</h1>
        </div>
        <div class="border-box"></div>
        <div class="links">
            <a th:href="@{/admin/home}">Home</a>
            <p>/</p>
            <a href="#">Post</a>
            <p>/</p>
            <a href="#">Category</a>
            <p>/</p>
            <a href="#">Comment</a>
            <p>/</p>
            <a href="#">User</a>
        </div>
    </div>
</header>
<main class="center__content">
    <div class="main__header">
        <h1>Post</h1>
        <a href="#" class="secondary-btn btn-transparent links">New Post</a>
    </div>
    <div class="overlay">
        <div class="post-table">
            <p class="title">Title</p>
            <p class="author">Author</p>
            <p class="category">Category</p>
            <p class="date">Date</p>
            <p class="description">Description</p>
            <div class="box" style="background-color:transparent"></div>
            <div class="box" style="background-color: transparent"></div>
<!--            <div class="box first" style="background-color: #E53935">FIsfRST</div>-->
<!--            <div class="box second" style="background-color: #D81B60">SECOND</div>-->
<!--            <div class="box third" style="background-color: #8E24AA">THIRD</div>-->
<!--            <div class="box fourth" style="background-color: #5E35B1">FOURTH</div>-->
<!--            <div class="box five" style="background-color: olive;"></div>-->
<!--            <button class="primary-button btn-tranparent">Delete</button>-->
<!--            <button class="btn-emoji overlay__btn&#45;&#45;colors">-->
<!--            </button>-->
<!--            <div class="box first" style="background-color: #E53935">FIRST</div>-->
<!--            <div class="box second" style="background-color: #D81B60">SECOND</div>-->
<!--            <div class="box third" style="background-color: #8E24AA">THIRD</div>-->
<!--            <div class="box fourth" style="background-color: #5E35B1">FOURTH</div>-->
<!--            <div class="box five" style="background-color: olive;"></div>-->
<!--            <button class="primary-button btn-tranparent">Delete</button>-->
<!--            <button class="primary-button btn-tranparent">Update</button>-->
<!--            <div class="box first" style="background-color: #E53935">FIRST</div>-->
<!--            <div class="box second" style="background-color: #D81B60">SECOND</div>-->
<!--            <div class="box third" style="background-color: #8E24AA">THIRD</div>-->
<!--            <div class="box fourth" style="background-color: #5E35B1">FOURTH</div>-->
<!--            <div class="box five" style="background-color: olive;"></div>-->
<!--            <button class="primary-button ">Delete</button>-->
<!--            <button class="primary-button ">Update</button>-->
<!--            <div class="box first" style="background-color: #E53935">FIRST</div>-->
<!--            <div class="box second" style="background-color: #D81B60">SECOND</div>-->
<!--            <div class="box third" style="background-color: #8E24AA">THIRD</div>-->
<!--            <div class="box fourth" style="background-color: #5E35B1">FOURTH</div>-->
<!--            <div class="box five" style="background-color: olive;"></div>-->
<!--            <button class="primary-button btn-tranparent">Delete</button>-->
<!--            <button class="primary-button btn-tranparent">Update</button>-->
<!--            <div class="box first" style="background-color: #E53935">FIRST</div>-->
<!--            <div class="box second" style="background-color: #D81B60">SECOND</div>-->
<!--            <div class="box third" style="background-color: #8E24AA">THIRD</div>-->
<!--            <div class="box fourth" style="background-color: #5E35B1">FOURTH</div>-->
<!--            <div class="box five" style="background-color: olive;"></div>-->
<!--            <button class="primary-button btn-tranparent">Delete</button>-->
<!--            <button class="primary-button btn-tranparent">Update</button>-->
<!--            <div class="box first" style="background-color: #E53935">FIRST</div>-->
<!--            <div class="box second" style="background-color: #D81B60">SECOND</div>-->
<!--            <div class="box third" style="background-color: #8E24AA">THIRD</div>-->
<!--            <div class="box fourth" style="background-color: #5E35B1">FOURTH</div>-->
<!--            <div class="box five" style="background-color: olive;"></div>-->
<!--            <button class="primary-button btn-tranparent">Delete</button>-->
<!--            <button class="primary-button btn-tranparent">Update</button>-->
        </div>
<!--          -------------------------------->
            <div th:each="post : ${listPost}">
                <div class="post-table">
<!--                <div class="card mb-4">-->
<!--                    <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>-->
<!--                    <div class="card-body">-->

<!--                           <div class="box first" >FIsfRST</div>&ndash;&gt;-->
<!--                            <div class="box second" >SECOND</div>-->
<!--                            <div class="box third" >THIRD</div>-->
<!--                            <div class="box fourth" >FOURTH</div>-->
<!--                            <div class="box five" ></div>-->

                        <div class="box first" th:text="${post.getTitle()}"></div>
                        <p class="box second"><span th:text="${post.getEmail().getUserName()}"></span></p>
                        <p class="box second"><span th:text="${post.getIdCategory().getCategoryName()}"></span></p>
                        <div class="small text-muted" th:text="${post.getTimePost()}"></div>
                        <p class="card-text"><span th:text="${#strings.substring(post.getContentPost(), 0, 100)}+'...'"></span></p>

<!--                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>-->
                        <button class="primary-button btn-tranparent">Delete</button>
                    <button class="primary-button btn-tranparent">Update</button>
                </div>
                        <!-- Read more button -->
<!--                        <form class="btn btn-primary" th:action="@{/user/post}" method="post">-->
<!--                            <input type="hidden" name="idPost" th:value="${post.getIdPost()}" />-->
<!--                            <input type="hidden" name="idCmt" th:value="${0}" />-->
<!--                            <button type="submit" class="btn btn-primary">Read more →</button>-->
<!--                        </form>-->

<!--                </div>-->
<!--            </div>-->

            <!--          -------------------------------->




    </div>
    <div class="links post-links">
        <a href="#">1</a>
        <a href="#">2</a>
    </div>
</main>
</body>
</html>