<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <!--    <link  href="{https://fonts.googleapis.com/css2?family=Forum&display=swap}" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/css/stylesAdmin.css}" type="text/css">
    <script th:src="@{/script.js}" type="module"></script>
    <title>Post</title>
</head>
<body>
<canvas class="orb-canvas"></canvas>
<div th:if="${userdto.getRole() != 'ROLE_ADMIN'}">
    <h1>Bạn không có quyền truy cập vào Admin</h1>
</div>
<header th:unless="${userdto.getRole() != 'ROLE_ADMIN'}">
    <div class="nav-bar">
        <div class="title">
            <h1>Post</h1>
        </div>
        <div class="border-box"></div>
        <div class="links">
            <a th:href="@{/admin/home}">Home</a>
            <p>/</p>
            <a href="#">Post</a>
            <p>/</p>
            <a href="#">Category</a>
            <p>/</p>
            <a th:href="@{/admin/userAdmin/page/__${1}__}" >User</a>
        </div>
    </div>
</header>
<main class="center__content" th:unless="${userdto.getRole() != 'ROLE_ADMIN'}">
    <div class="main__header">
        <h1>Post</h1>
        <a th:href="@{/admin/post/new-post}" class="secondary-btn btn-transparent links">New Post</a>
    </div>
    <div class="overlay">
        <div class="post-table">
            <p class="title">Title</p>
            <p class="author">Author</p>
            <p class="category">Category</p>
            <p class="date">Date</p>
            <p class="description">Description</p>
            <div class="box" style="background-color:transparent"></div>
            <div class="box" style="background-color: transparent"></div>

        </div>
        <!--          -------------------------------->
        <div th:each="post : ${listPost}">
            <div class="post-table">



                            <div class="box first" th:text="${post.getTitle()}"></div>
                            <p class="box second"><span th:text="${post.getEmail().getUserName()}"></span></p>
                            <p class="box second"><span th:text="${post.getIdCategory().getCategoryName()}"></span></p>
                            <div class="small text-muted" th:text="${post.getTimePost()}"></div>
<!--                            <p class="card-text"><span th:text="${#strings.substring(post.getContentPost(), 0, 100)}+'...'"></span></p>-->
                        <p class="card-text"> <span th:text="${#strings.length(post.getContentPost()) &lt;= 100 ? post.getContentPost() : #strings.substring(post.getContentPost(), 0, 100) + '...'}"></span></p>


                <!--                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>-->
                <!--                        <button class="primary-button btn-tranparent" onclick="if (!(confirm('Are you sure your want to delete this employee?'))) return false">Delete</button>-->
                <!--                    <button class="primary-button btn-tranparent">Update</button>-->
                <!-- Form Xóa Bài Viết -->
                <form th:action="@{/admin/post/delete}" method="post" name="delete">
                    <input type="hidden" name="id" th:value="${post.getIdPost()}" />
                    <input type="hidden" name="action" value="delete" />
                    <button type="submit" class="primary-button btn-tranparent" onclick="return confirm('Are you sure you want to delete this post?')">Delete</button>
                </form>

                <!--                     Form Cập Nhật Bài Viết-->
                <form th:action="@{/admin/post/update}" method="get" name="update" >
                    <input type="hidden" name="id" th:value="${post.getIdPost()}" />
                    <input type="hidden" name="action" value="update" />
                    <button type="submit" class="primary-button btn-tranparent">Update</button>
                </form>
                <!--                        <a class="primary-button btn-tranparent"  th:href="@{/admin/post/update/save/__${post.getIdPost()}__}">Update</a>-->

                <!--                    <a th:href="@{/admin/post/update}" th:data-id="${post.getIdPost()}" onclick="submitForm(event)">Update</a>-->
                <!--                    <form id="postForm" th:action="@{/admin/post/update}" method="post" style="display: none;">-->
                <!--                        <input type="hidden" id="idInput" name="id" th:value="${post.getIdPost()}">-->
                <!--                    </form>-->

                <!--                    &lt;!&ndash; JavaScript để submit form khi click vào thẻ a &ndash;&gt;-->
                <!--                    <script>-->
                <!--                        function submitForm(event) {-->
                <!--                            event.preventDefault(); // Ngăn chặn hành động mặc định của thẻ a-->
                <!--                            document.getElementById('postForm').submit(); // Submit form-->
                <!--                        }-->
                <!--                    </script>-->
            </div>
        </div>
        <div class="links post-links" >
            <div th:each="i: ${#numbers.sequence(1, totalPages)}">

                <span>
                    <a th:if="${currentPage != i}" th:href="@{/admin/post/__${i}__}">[[${i}]]</a>
                    <span th:unless="${currentPage != i}">[[${i}]]</span>
                </span>
            </div>
        </div>
    </div>
</main>
</body>
</html>