<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Post</title>
    <!-- Favicon-->
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
<header>
    <h1><a th:href="@{/user/home/page/1}">News</a></h1>
    <form class="search-bar" th:action="@{/user/search/__${1}__}" method="post">
        <input type="text" th:name ="keyWord" placeholder="Tìm kiếm">
        <button type="submit" >Tìm kiếm</button>
    </form>
    <div class="right">
        <a th:href="@{/user/home/page/1}">Trang Chủ</a>
        <a th:unless="${userdto.email}" th:href="@{/login}">Login</a>
        <a th:if="${userdto.email}" th:href="@{/logout}" methods="RequestMethod.GET">Logout</a>
        <div th:if="${userdto.email}">
            <div  th:if="${userdto.getRole()=='ROLE_ADMIN'}">
                <a  th:href="@{/admin/home}" >Admin</a>
            </div>
        </div>
    </div>
</header>
<div class="category">
    <a th:href="@{/user/home/page/1}"  >Tất cả</a>
    <div  th:each="catergory, iterStat : ${categories}">
        <a th:text = "${catergory.getCategoryName()}" th:href="@{/user/home/category/__${catergory.getCategoryName()}__/1}">  </a>
    </div>
</div>
<div class="main-content">
    <h1 th:text="${post.title}"></h1>
    <span th:text="${post.getTimePost()}"></span>
    <span th:text="${post.getEmail().getUserName()}"></span>
    <div class="category-holder">
        <a th:text = "${post.getIdCategory().getCategoryName()}" th:href="@{/user/home/category/__${post.getIdCategory().getCategoryName()}__/1}">  </a>
    </div>
        <img th:src="@{/img/wallhaven-lql5r2.jpg}"  alt="..." >

    <p th:text="${post.getContentPost()}" ></p>

    <div class="comment" >
        <div th:if="${userdto.email}">
            <form  th:action="@{/user/post/__${post.getTitle()}__}" method="post"  th:object="${cmtdto}">
                <div class="each">
                <input type="hidden" name="idPost" th:value="${post.getIdPost()}" />
                <input type="hidden" name="idCmt" th:value="${0}" />
                <textarea name="" class="comment-text" cols="100" rows="5" placeholder="   Viet binh luan..." th:field="*{contentCmt}"></textarea>
                <button type="submit" >Comment</button>
                </div>
            </form>
        </div>
        <div th:unless="${userdto.email}">
            <form >
                <textarea name="" class="comment-text" cols="100" rows="5" placeholder="Please log in to be able to comment" onclick="alert('Please log in to be able to comment!')" readonly>
                </textarea>
            </form>

        </div>
        <div th:each="comment : ${cmt}">
        <div class="each">
            <span th:text="${comment.email.getUserName()}"></span>
            <img src="spacecat.png" alt="">
            <p th:text="${comment.contentCmt}"></p>
            <div th:if="${userdto.email}">
                <div th:if="${userdto.getRole()=='ROLE_ADMIN'}">
                    <form  th:action="@{/user/post/__${post.getTitle()}__}" method="post" th:object="${cmtdto}">
                        <input type="hidden" name="idPost" th:value="${post.getIdPost()}" />
                        <input type="hidden" name="idCmt" th:value="${comment.getIdCmt()}" />
                        <button type="submit">Delete</button>
                    </form>
                </div>
                <div th:unless="${userdto.getRole()=='ROLE_ADMIN'}" th:if="${userdto.getEmail().trim()==comment.email.getEmail().trim()}">
                    <form  th:action="@{/user/post/__${post.getTitle()}__}" method="post" th:object="${cmtdto}">
                        <input type="hidden" name="idPost" th:value="${post.getIdPost()}" />
                        <input type="hidden" name="idCmt" th:value="${comment.getIdCmt()}" />
                        <button type="submit" >Delete</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>

</div>
</body>

</html>